<div class="center hero-unit">
  <h1>Listing search_lines</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User name </th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @search_lines.each do |search_line| %>
        <tr>
          <td><%= search_line.user_name %></td>
          <td><%= search_line.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>